:host {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    margin: 0 !important;
    width: 100%;
}

.green {
    color: #00AA00;
}

.right {
    float: right;
    top: -43px;
    position: relative;
    font-size: 35px;
}

.gold {
    background-color: #E0F2F1;
}

.gold-text {
    color: #FFC107;
}
