<h2 class="mat-display-2">{{question}}</h2>

<div class="row container">
  <div class="col-4" *ngFor="let s of specialists">
    <mat-card [ngClass]="{'gold': s.interestSpecialist}">
      <img mat-card-image [src]="s.photo" class="circle">
      <i class="material-icons green right">fiber_manual_record</i>
      <mat-card-header>
        <mat-card-title>{{s.name}}</mat-card-title>
        <mat-card-subtitle>
          <i class="material-icons gold-text" *ngIf="s.rating >= 1">star</i>
          <i class="material-icons gold-text" *ngIf="s.rating >= 2">star</i>
          <i class="material-icons gold-text" *ngIf="s.rating >= 3">star</i>
          <i class="material-icons gold-text" *ngIf="s.rating >= 4">star</i>
          <i class="material-icons gold-text" *ngIf="s.rating >= 5">star</i>
          <i class="material-icons gold-text" *ngIf="s.rating < 5">star_border</i>
          <i class="material-icons gold-text" *ngIf="s.rating < 4">star_border</i>
          <i class="material-icons gold-text" *ngIf="s.rating < 3">star_border</i>
          <i class="material-icons gold-text" *ngIf="s.rating < 2">star_border</i>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-chip-list>
          <mat-chip *ngFor="let skill of s.skills">{{skill}}</mat-chip>
        </mat-chip-list>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button *ngIf="s.interestSpecialist" (click)="startChat(s)">Iniciar Chat</button>
        <button mat-button *ngIf="!s.interestSpecialist" (click)="callForAttention(s)" [disabled]="s.calledForAttention">Chamar a atenção</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
