<div id="session-header">
  <!-- <h1 id="session-title">{{sessionId}}</h1> -->
  <!-- <input class="btn btn-large btn-danger" type="button" id="buttonLeaveSession" (click)="leaveSession()" value="Leave session"> -->
</div>
<div class="row">
  <div *ngIf="this.mainVideoStream" id="main-video" class="col-6">
    <stream-component [stream]="this.mainVideoStream" [isMuted]="true"></stream-component>
  </div>

  <div id="video-container" class="col-3">
    <div class="row">
      <div *ngIf="this.localStream" class="stream-container col-12">
        <stream-component [stream]="this.localStream" [isMuted]="true" (mainVideoStream)="getMainVideoStream($event)"></stream-component>
      </div>
      <div *ngFor="let s of this.remoteStreams" class="stream-container col-12">
        <stream-component [stream]="s" [isMuted]="false" (mainVideoStream)="getMainVideoStream($event)"></stream-component>
      </div>
    </div>
  </div>
  <div class="col-3">
    <form class="chat" (ngSubmit)="submit(message)">
      <mat-form-field>
        <input autocomplete="off" type="text" matInput matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" name="message" [(ngModel)]="message">
      </mat-form-field>
      <div class="chatfeed">
        <div class="text" [ngClass]="{'mine': isTutor == m.isTutor, 'their': isTutor != m.isTutor}" *ngFor="let m of messages"><div>{{m.message}}</div></div>
      </div>
    </form>
  </div>
</div>
