:host {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.side {
    display: flex;
    width: 180px;
    // height: 100vh;
    background: #1E88E5;
    align-self: stretch;
}

img {
    margin: 0 !important;
    width: 90%;
}

.green {
    color: #00AA00;
}

.right {
    float: right;
    top: -43px;
    position: relative;
    font-size: 35px;
}

.aaa {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 300px;
    margin-top: 16px;
    
}
.gold {
    display: flex;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: #1E88E5;
    width: 100%;
    height: 100%;
}

.gold-text {
    color: #FFC107;
}

.nomespec {
    margin-top: 8px;
    color: #ffffff;
}

.white-color {
    color: #ffffff;
}
.mat-card-title {
    margin-top: 8px;
    font-weight: 700;
    font-size: 16px;
}

.rating {
    margin-top: 4px;
}

.mat-card-content {
    margin-top: 8px;
}

.card {
    margin: 1rem;
}

.highlight {
    background-color: #E0F2F1;
}